.ava {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 15px;
}

.pageNumber {
    cursor: pointer;
}
.currentPageNumber {
    font-weight: bold;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    width: 100px;
    height: 100px;
}

.followButton {
    border: #00d4ff 2px solid;
    border-radius: 7px;
    margin: 0 15px;
    padding: 4px 0;
    width: 140px;
}
.followButton:hover {
    box-shadow: 0 0 12px lightskyblue;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.left {
    margin-left: 30px;
}

.right {
    margin-right: 30px;
}
