.content {
    grid-area: content;
    width: 100%;
    height: 100%;
    position: relative;
}

.content::after{
    content: "";
    background: url("https://w-dog.ru/wallpapers/2/16/423668644260651/krasivye-vid-planet-v-kosmose.jpg") 0 0/cover no-repeat fixed;
    opacity: .35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.content img {
    width: 120px;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 50%;
}