.content {
    grid-area: content;
    width: 100%;
    height: 100%;
    position: relative;
}

.content::after{
    content: "";
    background: url("https://images.nrc.nl/-eUPNG6ZBVRsMk0wRloqo5pms0Q=/1920x/filters:no_upscale()/s3/static.nrc.nl/spoetnik/files/2015/02/brieven.jpg") 0 0/cover no-repeat fixed;
    opacity: .35;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    border-radius: 15px;
}