.header {
    display: grid;
    grid-area: h;
    position: relative;
    width: 100%;
    grid-template: "logo nav" / 2fr 10fr;
    margin-top: 5px;
}

.header::after {
    content: "";
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.711922268907563) 1%, rgba(0,212,255,1) 92%);
    opacity: .65;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 15px;
}

.app_logo {
    height: 55px;
    pointer-events: none;
    margin: 5px auto;
    grid-area: logo;
}

@media (prefers-reduced-motion: no-preference) {
    .app_logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.header nav {
    grid-area: nav;
    position: relative;
    top: 25%;
    font-size: 18px;

}
